<html>
    <head>
        <link rel="stylesheet" href="./style/home.css">
        <script type="text/javascript">
        const voteUp = async (id) => {
            let res = await fetch("./vote",
            { method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({id, value: 1})
            })

            if (res.status === 200) {
                let payload = (await res.json())
                document.getElementById(`vote-${id}`).innerHTML = payload.voteValue;
            }
        }

        </script>
    </head>
    <body>
        <header>
            <div id="title"><a href="./" class="no_underline_link">PlanetTypescript</a></div>
            <nav>
                Top | Recent | Random
            </nav>
        </header>
        <main>
        <article>
        <% if (links.length > 0) { %>


                <% for(var i=0; i < links.length; i++) { %>

                    <div class="link_wrapper">
                        <div class="vote_wrapper" onclick="voteUp('<%= links[i].id %>')">
                            <div class="arrow-up"></div>
                            <div class="vote" id="vote-<%= links[i].id %>"><%= links[i].votes %></div>
                        </div>

                        <div class="the_link">
                            <a class="go_link" href="<%= links[i].source %>"><%- links[i].title %></a>
                            <span class="website"><a class="no_underline_link" href="<%= links[i].website %>"><%= links[i].website %></a></span>
                        </div>
                    </div>

                 <% } %>
            <div><a href="?page=<%= page %>">More</a></div>
          <% } else {%>
            No posts yet
        <% } %>
        </article>
        <aside>

        </aside>
        </main>
    <footer>Footer</footer>
    </body>
</html>
