<html>
    <head>
        <link rel='icon' href='./images/favicon.ico' type='image/x-icon' />
        <link rel="stylesheet" href="<%= origin %>/style/home.css">
        <%- await include('views/partials/ga.ejs') %>
        <%- await include('views/partials/voter.ejs') %>
        <title>Home</title>
    </head>
    <body>
    <%- await include('views/partials/header.ejs', {origin}) %>
        <main>
        <article>
            <nav>
                <%- await include('views/partials/nav.ejs', {origin}) %>
            </nav>
            <%- await include('views/partials/posts.ejs', {links, page}) %>
        </article>
        <aside>
            <%- await include('views/partials/side.ejs', {currentUser}) %>
        </aside>
        </main>
        <%- await include('views/partials/footer.ejs') %>
    </body>
</html>
