<html>
    <head>
        <link rel="stylesheet" href="./style/home.css">
        <script type="text/javascript">
        const voteUp = async (id) => {
            let res = await fetch("http://localhost:4300/vote",
            { method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({id, value: 1})})

            if (res.status === 200) {
                let payload = (await res.json())
                document.getElementById(`vote-${id}`).innerHTML = payload.voteValue;
            }
        }

        </script>
    </head>
    <body>
        <header>
            <div id="title">PlanetTypescript</div>
            <nav>
                Top | Recent | Random
            </nav>
        </header>
        <main>
        <article>
        <% if (links.length > 0) { %>
            <ul id="list_links">
                <% for(var i=0; i < links.length; i++) { %>
                    <li>
                        <div id="link_wrapper">

                        <div id="vote_wrapper">
                        <span onclick="voteUp('<%= links[i].id %>')" class="arrow-up" id="vote-<%= links[i].id %>" >
                            <%= links[i].votes %>
                        </span>
                        </div>

                            <span><a class="go_link" href="<%= links[i].source %>"><%- links[i].title %></a></span>

                        <!-- <%= links[i].summary %> -->
                        </div>
                    </li>

                 <% } %>
            </ul>
            <div><a href="?page=<%= page %>">More</a></div>
          <% } else {%>
            No posts yet
        <% } %>
        </article>
        <aside>

        </aside>
        </main>
    <footer>Footer</footer>
    </body>
</html>
