<html>
<head>
    <link rel="stylesheet" href="../style/home.css">
    <%- await include('views/partials/ga.ejs') %>
    <title>Reset Password</title>
</head>
<body>
<%- await include('views/partials/header.ejs') %>
<main>
    <article>

        <form action="/updatepassword" method=post>
            <div>
                <label>Email:</label>
                <input type="email" name="email" class="form-control" readonly value="<%= email %>">
            </div>
            <div>
                <label>New Password:</label>
                <input type="password" name="new_password" class="form-control">
            </div>
            <div>
                <input type="hidden" name="reset_link" class="form-control" value="<%= resetLink %>">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>

        </form>

    </article>
    <aside>

    </aside>
</main>
<%- await include('views/partials/footer.ejs') %>
</body>
</html>
